<!doctype html>
<html>
  <head>
    <title>Pong</title>
    <meta charset="UTF-8">
  </head>
  <body id="body">
      <canvas id="canvas" height="400" width="600">
      </canvas>
    <script src="/js/pong.js"></script>
  </body>
</html>